<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %> 

    <section class="banner">
        <img  src="/images/img-home-banner.jpg" alt="banner de ofertas">
    </section>
        <main>
            <section class="last-visit">
            <h3 >Basado en su última visita</h3>
            <div class="products">

                <%- include('partials/card') %>

        </div>
    </section>
        <section class="ofertas">
            <h3 >Ofertas</h3>
                <div class="products">
                    <%- include('partials/card') %>
                </div>
        </section>
        </main>
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script> <!--para que se agreguen los iconos-->

        <%- include('partials/footer') %>

</body>
</html>